<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Form 3.2</title>
   <style>
      *{
         font-family: 'Calibri';
      }
      table {
         border-collapse: collapse;
      }

      table.table,
      .table th,
      .table td {
         border: 1px solid black;
      }

      th {
         padding: 10px;
      }

      td {
         height: 30px;
      }

      .garis {
         margin-top: -20px;
      }

      .garis td {
         border-bottom: 1px solid black;
         width: 1000px;
      }

      .text-center {
         text-align: center;
      }

      .mx-auto {
         display: block;
         margin: auto;
      }

      .row {
         display: flex;
      }

      .col-7 {
         width: 60%;
         margin-left: 50px;
      }

      .vertical {
         transform: rotate(-90deg);
      }

      .bg-yellow {
         background-color: yellow;
         width: 500px;
      }

      .bg-blue {
         background-color: #4eb1f3;
      }
   </style>
</head>

<body>
   <h1 class="text-center">CHECK LIST INSPEKSI PENERAPAN PROGRAM HSE</h1>
   <table>

   </table>
   <table>
      <tr>
         <td> Nama Perusahaan </td>
         <td> : PT. Usaha Jayamas Bhakti </td>
      </tr>
      <tr>
         <td> Jenis Pekerjaan </td>
         <td> : Pemasangan skid injeksi adictive & pewarna di TBBM </td>
      </tr>
      <tr>
         <td> Lokasi Pekerjaan </td>
         <td> : 12 TBBM ( TBBM Semarang Group) </td>
      </tr>
      <tr>
         <td> Tanggal penilaian </td>
         <td> : 15 April 2019 </td>
      </tr>
   </table>

   <br>

   <table class="table">
      <tr>
         <th class="bg-blue">No</th>
         <th class="bg-blue">POKOK BAHASAN</th>
         <th class="bg-blue">NEED</th>
         <th class="bg-blue">NOT NEED</th>
         <th class="bg-blue">SCORE MAX</th>
         <th class="bg-blue">SCORE ACTUAL</th>
         <th class="bg-blue">CATATAN</th>
      </tr>
      <tr>
         <td class="text-center"> 1 </td>
         <td> Penerapan Mitigasi JHSEA </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> 3 </td>
         <td> </td>
      </tr>
      <tr>
         <td class="text-center"> 2 </td>
         <td> HSE Meeting (sesuai schedule HSE Plan) </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> 3 </td>
         <td> </td>
      </tr>
      <tr>
         <td class="text-center"> 3 </td>
         <td> HSE Talk / briefing (sesuai schedule HSE Plan) </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> 2 </td>
         <td> beberapa pekerja terlambat mengikuti HSE talk </td>
      </tr>
      <tr>
         <td class="text-center"> 4 </td>
         <td> HSE Training / Induction (sesuai schedule HSE Plan) </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> 3 </td>
         <td> </td>
      </tr>
      <tr>
         <td class="text-center"> 5 </td>
         <td> Pelaporan Penerapan HSE ke Pertamina (sesuai schedule HSE Plant) </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> 3 </td>
         <td> </td>
      </tr>
      <tr>
         <td class="text-center"> 6 </td>
         <td> Inspeksi HSE secara rutin oleh level pelaksana (mulai dari Pre mobilization hingga mobilization) sesuai
            schedule HSE Plan) </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> 3 </td>
         <td> </td>
      </tr>
      <tr>
         <td class="text-center"> 7 </td>
         <td> Inspeksi HSE oleh Managemen kontraktor (sesuai schedule HSE Plan) </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> 3 </td>
         <td> </td>
      </tr>
      <tr>
         <td class="text-center"> 8 </td>
         <td> Incident / accident reporting </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> </td>
         <td> </td>
      </tr>
      <tr>
         <td class="text-center"> 9 </td>
         <td> Investigation report </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> </td>
         <td> </td>
      </tr>
      <tr>
         <td class="text-center"> 10 </td>
         <td> Pekerja paham terhadap HSE Policy & Objective pekerjaan tersebut </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> 1 </td>
         <td> safetyman tidak paham HSE policy </td>
      </tr>
      <tr>
         <td class="text-center"> 11 </td>
         <td> Pemeriksaan kesehatan </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 3 </td>
         <td class="text-center"> 3 </td>
         <td> </td>
      </tr>
      <tr>
         <td class="text-center"> 12 </td>
         <td> Tindak lanjut temuan </td>
         <td class="text-center"> </td>
         <td class="text-center"> </td>
         <td class="text-center"> 4 </td>
         <td class="text-center"> 4 </td>
         <td> </td>
      </tr>
      <tr>
         <td colspan="4"> TOTAL NILAI</td>
         <td class="text-center">37</td>
         <td class="text-center">90%</td>
      </tr>
      <tr>
         <td colspan="4">% TOTAL NILAI</td>
         <td colspan="2"></td>
      </tr>

   </table>

   <br>
   <p>Keterangan tambahan:</p>
   <table class="garis">
      <tr>
         <td></td>
      </tr>
      <tr>
         <td></td>
      </tr>
      <tr>
         <td></td>
      </tr>
   </table>
   <br>
   <img src="a.png" alt="total nilai" class="mx-auto">
   <br><br>

   <div class="row">
      <div class="col-7">
         <p>Auditee, <br>Wakil Perusahaan Kontraktor</p>
         <br><br><br>
         <p>
         <pre>(                                          )</pre>
         </p>
      </div>
      <div class="col">
         <table class="table">
            <tr>
               <th rowspan="5" class="vertical">Verifikator</th>
               <th colspan="2">Direksi Pekerjaan</th>
               <th colspan="2">HSSE</th>
            </tr>
            <tr>
               <th>Nama</th>
               <th>Tanda Tangan</th>
               <th>Nama</th>
               <th>Tanda Tangan</th>
            </tr>
            <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </tr>
            <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </tr>
            <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </tr>
         </table>
      </div>
   </div>
   <div class="bg-yellow">
      <p>NOTE: <br>
         Approval Pusat & Region : Direksi Pekerjaan & Wakil Fungsi HSSE <br>
         Approval Lokasi : Direksi Pekerjaan (OH/User) & Wakil HSSE Lokasi
      </p>
   </div>


</body>

</html>