<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Form 6</title>
   <style>
      * {
         font-family: 'Calibri';
      }

      table {
         border-collapse: collapse;
      }

      table.table,
      .table th,
      .table td {
         border: 1px solid black;
      }

      th {
         padding: 10px;
      }

      td {
         height: 30px;
      }

      .text-center {
         text-align: center;
      }
      .bg-blue {
         background-color: #4eb1f3;
      }

      .bg-blue-1 {
         background-color: #c8e7fc;
      }
      .bold{
         font-weight:bold;
      }
   </style>
</head>

<body>
   <p><strong>Lampiran 15 - Pedoman No. A - 001/K00100/2015- S9 Rev. 03</strong></p>
   <h1 class="text-center">FORM EVALUASI AKHIR ( FINAL EVALUATION)</h1>
   <table>
      <tr>
         <td>Nama Perusahaan</td>
         <td>:</td>
      </tr>
      <tr>
         <td>Jenis Pekerjaan</td>
         <td>:</td>
      </tr>
      <tr>
         <td>Lokasi Pekerjaan</td>
         <td>:</td>
      </tr>
      <tr>
         <td>Tanggal Penilaian </td>
         <td>:</td>
      </tr>
   </table>
   <br>
   <table class="table">
      <tr>
         <th class="bg-blue" colspan="3"> INCIDENT RECORD : </th>
         <th class="bg-blue" colspan="2"> JUMLAH KASUS </th>
         <th class="bg-blue" colspan="5"> * PUNISHMENT </th>
      </tr>
      <tr>
         <td class="text-center"> I </td>
         <td colspan="2"> Fatality / kebakaran - property damage (kerugian ≥ US$ 1 juta) / pencemaran lingkungan (≥ 15
            Bbl) / kerugian lain ≥ US$ 1 </td>
         <td class="text-center" colspan="2"> 0 </td>
         <td class="text-center" colspan="5"> Hitam </td>
      </tr>
      <tr>
         <td class="text-center"> II </td>
         <td colspan="2"> Insiden berdampak pencemaran lingkungan, kebakaran / kerusakan aset, Medical Treatment cases
            (yang dibawah kategori sanksi hitam) </td>
         <td class="text-center" colspan="2"> 0 </td>
         <td class="text-center" colspan="5"> -60 </td>
      </tr>
      <tr>
         <td class="text-center bold"> No </td>
         <td class="text-center bold" colspan="2"> ELEMEN </td>
         <td class="text-center bold" colspan="2"> % NILAI </td>
         <td class="text-center bold" colspan="3"> % Bobot </td>
         <td class="text-center bold" colspan="2"> % Nilai Akhir </td>
      </tr>
      <tr>
         <td class="text-center"> 1 </td>
         <td colspan="2"> Kesiapan saat Pre-Job Activity </td>
         <td colspan="2"> </td>
         <td class="text-center" colspan="3"> 20% </td>
         <td colspan="2"> </td>
      </tr>
      <tr>
         <td class="text-center"> 2 </td>
         <td colspan="2"> Inspeksi HSE </td>
         <td colspan="2"> </td>
         <td class="text-center" colspan="3"> 30% </td>
         <td colspan="2"> </td>
      </tr>
      <tr>
         <td class="text-center"> 3 </td>
         <td colspan="2"> Program HSE </td>
         <td colspan="2"> </td>
         <td class="text-center" colspan="3"> 35% </td>
         <td colspan="2"> </td>
      </tr>
      <tr>
         <td class="text-center"> 4 </td>
         <td colspan="2"> Evaluasi HSE Performance </td>
         <td colspan="2"> </td>
         <td class="text-center" colspan="3"> 15% </td>
         <td colspan="2"> </td>
      </tr>
      <tr>
         <td colspan="8"> Total Nilai Akhir </td>
         <td colspan="2"> </td>
      </tr>
      <tr>
         <td rowspan="4" colspan="4"> Hasil Penilaian Akhir : <br> * Memenuhi syarat CSMS / Tidak memenuhi syarat CSMS
         </td>
         <td class="bg-blue-1 bold" rowspan="2" colspan="4"> Keterangan : </td>
         <td class="bg-blue-1" colspan="2" rowspan="2"> * Reward/Punishment </td>
      </tr>
      <tr></tr>
      <tr>
         <td colspan="4"> ● ≥ 90% - Memenuhi syarat CSMS </td>
         <td class="text-center" colspan="2"> 10 </td>
      </tr>
      <tr>
         <td colspan="4"> ● ˂ 90% - Tidak memenuhi syarat CSMS </td>
         <td class="text-center" colspan="2"> -45 </td>
      </tr>
      <tr>
         <td class="bg-blue-1 bold" colspan="4"> Wakil Kontraktor </td>
         <td class="bg-blue-1 bold" colspan="6"> Pengawas (Direksi) Pekerjaan Pertamina </td>
      </tr>
      <tr>
         <td colspan="2"> Nama </td>
         <td colspan="2"> : </td>
         <td> Nama </td>
         <td colspan="5"> : </td>
      </tr>
      <tr>
         <td colspan="2"> Jabatan </td>
         <td colspan="2"> : </td>
         <td> Jabatan </td>
         <td colspan="5"> : </td>
      </tr>
      <tr>
         <td colspan="2"> Tanggal </td>
         <td colspan="2"> : </td>
         <td> Tanggal </td>
         <td colspan="5"> : </td>
      </tr>
      <tr>
         <td rowspan="3"> Sign </td>
         <td colspan="3" rowspan="3"> : </td>
         <td> Sign </td>
         <td colspan="5" rowspan="3"> : </td>
      </tr>
      <tr> </tr>
      <tr> </tr>
   </table>

</body>

</html>